/* 1 */
body {
	font-family: sans-serif;
	color: black;
	background-color: #DFF2D8;
	padding: 1em;
	margin: 1em;
}

/* 1 */
header {
	color: black;
	background-color: #C6DEA6;
}

/* 5 */
h1, h2, h3, h4, h5 {
	text-align: center;
	color: black;
	background-color: #7EBDC3;
	padding: 1em;
	margin: 1em;
}

h1 {
	padding: 1em;
	margin: 0;
	font-size: 3em;
}

/* 1 */
section {
	color: black;
	background-color: #C6DEA6;
	margin: 1em;
	padding: 1em;
	font-size: large;
}

/* 1 */
p {
	padding: 0 1em;
	margin: 0.5em;
}



/* 1 */
ul {
	list-style-type: none;
	background-color: #7A6263;
	color: white;
	margin: 1em;
	padding: 1em;
}

/* 2 */
ul > li {
	background-color: #CED097;
	color: black;
	margin: 5px;
	padding: 0.5em;
	font-size: 1.2em;
}

/* 3 */
table, td, th {
	margin: 4px;
}


/* 1 */
table {
	margin: 2em;
	width: inherit;
	color: black;
	background-color: #7A6263;
}

/* 2 */
td, th {
	text-align: center;
	color: black;
	background-color: #CED097;
	padding: 10px;
}


/* 1 */
td {
	text-align: start;
}

footer {
	display: flex;
}

/* 1 */
a {
	margin: 0.5em;
	padding: 0.5em;
	font-weight: bold;
	display: block;
}


/* 11 */
a:link {
	color: blue;
	background-color: #d3d3d3;
}

/* 11 */
a:visited {
	color: firebrick;
	background-color: #d3d3d3;
}

/* 11 */
a:hover {
	color: black;
	background-color: #87cefa;
}

/* 11 */
a:active {
	color: white;
	background-color: blue;
}

/* 1 */
nav {
	background-color: #5f9ea0;
	color: black;
	margin: 1em;
	padding: 0.5em;
	display: block;
}

nav > div {
	display: flex;
	border-style: outset;	
}

nav > h2 {
	padding: 1em;
	margin: 0.5em;
}


.protagonistas > div {
	margin: 0.3em;
	padding: 0.5em;
	background-color: #CED097;
}

div > h2 {
	padding: 0.3em;
	margin: 0;
}

div > img {
	width: 100%;
}

.protagonistas {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns:  33% 33% 33%;
	grid-template-rows: auto;
}

div > p {
	text-align: center
}

video {
	margin: 0;
	padding: 0;
	width: 100%
}