/* 10 */
.protagonistas {
	display: grid;
	grid-template-columns:  33% 33% 33%;
	grid-template-rows: auto;
}

/* 2 */
nav > div {
	display: flex;
}

footer {
	display: flex;
}

/* 1 */
a {
	display: block;
}