html{
    background-color: #313850;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    padding: 1em;
    background-color: #252C40;
    border-radius: 0.5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

h2 {
    padding: 1em;
    background-color: #141823;
    border-radius: 0.5em;
}

p {
    background-color: #1E1E20;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
}

section {
    background-color: #192035;
    padding: 1em;
    margin: 1em;
    border-radius: 0.2em;
}
