/* Especificidad : 0 0 1 */
main {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.1em;
    border-radius: 0;
    border-color: black;
    width: 30em;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    color: #08090D;
    background-color: #ffffff;
}

/* Especificidad : 0 0 2 */
main p {
    margin: 0;
    padding: 0.5em;

    border-radius: 0;
    border: solid 0.05em;
    border-color: black;

    text-align: center;

    font-size: large;
    font-weight: bold;

    color: #08090D;
    background-color: #ffffff;
}

/* Especificidad : 0 1 2 */
main p[data-state="clicked"] {
    color: #ffffff;
    background-color: lightcoral;
}

/* Especificidad : 0 1 2 */
main p[data-state="empty"] {
    color: #ffffff;
    background-color: #08090D;
}