/* Especificidad: 0 0 1 */
html {
    background-color: #313850;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

/* Especificidad: 0 0 1 */
footer {
    color: #ffffff;
    background-color: #252C40;
    margin: 2em;
    padding: 2em;
    border-radius: 1em;

    text-align: center;
}

/* Especificidad: 0 0 1 */
h1 {
    padding: 1em;
    color: #ffffff;
    background-color: #252C40;
    border-radius: 0.5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

/* Especificidad: 0 0 2 */
header p {
    text-align: center;
}

/* Especificidad: 0 0 1 */
h2 {
    font-size: x-large;
    padding: 1em;
    margin: 0.5em auto 1em;
    color: #ffffff;
    background-color: #141823;
    border-radius: 0.5em;
}

/* Especificidad: 0 0 1 */
h3 {
    font-size: large;
    padding: 1em;
    color: #ffffff;
    background-color: #11131C;
    border-radius: 0.5em;
}

/* Especificidad: 0 0 1 */
h4 {
    font-size: medium;
    padding: 1em;
    color: #ffffff;
    background-color: #0D0F15;
    border-radius: 0.5em;
}

/* Especificidad: 0 0 1 */
h5 {
    font-size: medium;
    padding: 1em;
    color: #ffffff;
    background-color: #08090D;
    border-radius: 0.5em;
}

/* Especificidad: 0 0 1 */
p {
    color: #ffffff;
    background-color: #1E1E20;
    border-radius: 0.5em;
    padding: 1em;
    margin: 5px;
}

/* Especificidad: 0 0 1 */
nav {
    color: #1E1E20;
    background-color: #ffffff;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    grid-template-columns: auto;
}

/* Especificidad: 0 0 1 */
a {
    color: #ffffff;
    background-color: #1E1E20;
    padding: 0.5em;
    margin: 0.3em;
    border-radius: 0.5em;
    border-style: outset;
}

/* Especificidad: 0 1 1 */
a:hover {
    color: #1E1E20;
    background-color: #ffffff;
    font-weight: bold;
    border-style: inset;
}

/* Especificidad: 0 0 1 */
main {
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    border-radius: 1em;
    color: #ffffff;
    background-color: #252C40;
}

/* Especificidad: 0 0 1 */
section {
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    color: #ffffff;
    background-color: #252C40;
}

/* Especificidad: 0 0 1 */
form {
    margin: 1em 4em;
    padding: 1em;
    border-radius: 1em;
    color: #ffffff;
    background-color: #1E1E20
}

/* Especificidad: 0 0 1 */
img {
    margin: 1em;
    border-style: outset;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 2px;

    max-width: 80%;
}

/* Especificidad: 0 0 2 */
main video {
    max-width: 70%;
    min-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Especificidad: 0 0 2 */
main audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Especificidad: 0 0 1 */
table {
    color: #ffffff;
    background-color: #08090D;
    margin-right: auto;
    margin-left: auto;
}

/* Especificidad: 0 0 2 */
table th {
    color: #ffffff;
    background-color: #0D0F15;
}

/* Especificidad: 0 0 2 */
table td {
    border: #ffffff;
    border-style: solid;
    padding: 1em;
}

/* Especificidad: 0 0 1 */
input {
    color: #ffffff;
    background-color: #08090D;
    font-size: large;

    border-style: solid;
}

/* Especificidad: 0 1 1 */
input:active {
    color: #08090D;
    background-color: #ffffff;
}

/* Especificidad: 0 0 1 */
ul {
    color: #ffffff;
    background-color: #252C40;
    list-style-type: square;
}

/* Especificidad: 0 0 2 */
nav ul {
    color: #08090D;
    background-color: #ffffff;
}

/* Especificidad: 0 1 1 */
ul :nth-child(3) {
    color: lightcoral;
    background-color: #252C40;
}

/* Especificidad: 0 1 2 */
nav ul :nth-child(3) {
    color: #08090D;
    background-color: #ffffff;
}

/* Especificidad: 0 0 1 */
ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

/* Especificidad: 0 0 2 */
dl dt {
    text-decoration: underline;
    font-weight: bold;
}

/* Especificidad: 0 0 1 */
article {
    margin: 2em;
    padding: 0.2em 1em;

    border-style: dashed;
    border-color: #ffffff;
    border-width: 0.1em;
}

/* Especificidad: 0 0 1 */
svg {
    color: #08090D;
    background-color: #ffffff;
}