/* Especificidad: 0 0 2 */
body section {
    display: flex;
    flex-wrap: wrap;

    width: auto;
    margin: 2em 0;
    padding: 0;

    border-radius: 0;
}

/* Especificidad: 0 0 3 */
body section h2 {
    flex-basis: 100%;
}

/* Especificidad: 0 0 3 */
body section img {
    border-style: none;
    height: 20em;
    padding: 0;

    margin-left: auto;
    margin-right: auto;
}

/* Especificidad: 0 0 2 */
section button {
    font-size: x-large;
}