/* 0 0 1 */

html {
    background-color: #313850;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

/* 0 0 1 */
footer {
    background-color: #252C40;
    margin: 2em;
    padding: 2em;

    text-align: center;
}

/* 0 0 2 */

footer img {
    max-width: 10em;
}

/* 0 0 1 */

h1 {
    padding: 1em;
    background-color: #252C40;
    border-radius: 0.5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

/* 0 0 1 */

h2 {
    padding: 1em;
    background-color: #141823;
    border-radius: 0.5em;
}

/* 0 0 1 */

h3 {
    padding: 1em;
    background-color: #11131C;
    border-radius: 0.5em;
}

/* 0 0 1 */

h4 {
    padding: 1em;
    background-color: #0D0F15;
    border-radius: 0.5em;
}

/* 0 0 1 */

h5 {
    padding: 1em;
    background-color: #08090D;
    border-radius: 0.5em;
}

/* 0 0 1 */

p {
    background-color: #1E1E20;
    border-radius: 0.5em;
    padding: 1em;
    margin: 5px;
}

form {
    background-color: #252C40;
    border-radius: 0.5em;
    padding: 3em;
    margin: 1em;

    display: grid;
    gap: 1em;
    grid-template-columns: max-content auto;
    justify-content: left;
}

/* 0 0 1 */

nav {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    grid-template-columns: auto;
}

/* 0 0 2 */

nav a {
    background-color: #1E1E20;
    padding: 0.5em;
    margin: 0.3em;
    border-radius: 0.5em;
    border-style: outset;
    color: #ffffff;
}

/* 0 1 2 */

nav a:hover {
    background-color: #ffffff;
    color: #1E1E20;
    font-weight: bold;
    border-style: inset;
}

/* 0 0 1 */

main {
    max-width: 55em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    border-radius: 1em;
    background-color: #252C40;
}

/* 0 0 1 */

img {
    margin: 1em;
    max-width: 30%;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 2px;
}

/* 0 0 2 */

main video {
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 0 0 1 */

table {
    background-color: #08090D;
    margin-right: auto;
    margin-left: auto;
}

/* 0 0 2 */

table th {
    background-color: #0D0F15;
}

/* 0 0 2 */

table td {
    border: #ffffff;
    border-style: solid;
    padding: 1em;
}

/* 0 0 1 */

button {
    background-color: #08090D;
    color: #ffffff;
    padding: 0.5em;
    margin: 0.5em;
    font-size: large;

    border-style: solid;
}

/* 0 1 1 */

button:hover {
    background-color: #ffffff;
    color: #08090D;
}