/* 0 0 1 */
html {
    background-color: antiquewhite;
    font-family: "Times New Roman", Serif, serif;
    line-height: 1.5;
    word-spacing: 0.25em;
}
/* 0 0 1 */
body {
    margin: auto;
    max-width: 70em;
    padding: 1em;
}

/* 0 0 1 */
footer {
    text-align: center;
}

/* 0 0 2 */
footer img {
    width: 88px;
}

/* 0 0 1 */
img.aside {
    padding: 0.5em;
    margin: 0.5em;
    background-color: whitesmoke;
    border-radius: 5px;
    max-width: 25%;
}

/* 0 0 1 */
h1 {
    text-align: center;
    text-transform: uppercase;
}

/* 0 0 1 */
a {
    text-decoration: none;
    color: inherit;
}

/* 0 1 1 */
a.source {
    text-decoration: underline;
    color: midnightblue;
    font-size: larger;
}

/* 0 0 1 */
table {
    min-width: 80%;
    margin: auto;
    border-collapse: collapse;
}

/* 0 0 2 */
td, th {
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
}

/* 0 0 1 */
th {
    background-color: midnightblue;
    border-color: wheat;
    color: white;
    text-align: left;
}

/* 0 0 1 */
td {
    border-color: midnightblue;
}

/* 0 0 1 */
nav {
    background-color: midnightblue;
    color: white;
    border-radius: 3px;
}

/* 0 0 2 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* 0 0 2 */
nav a {
    padding: 8px;
    color: whitesmoke;
    text-align: center;
}

/* 0 1 2 */
nav a:hover {
    background-color: whitesmoke;
    color: midnightblue;
}

/* 0 1 2 */
nav a.nav-selected {
    background-color: lightgrey;
    color: midnightblue;
}

/* 0 0 1 */
article {
    width: 50em;
    margin: 2em auto;
    padding: 1em 2em;
    background-color: whitesmoke;
    border-radius: 5px;
}

/* 0 0 1 */
article h3 {
    background-color: wheat;
    padding: 1em;
}

/* 0 0 1 */
article img {
    margin: auto;
    width: 90%;
}

/* 0 0 1 */
article h4 img {
    margin: 0 0 0 0.3em;
    min-height: 1em;
    max-width: 5em;
    border-style: solid;
    border-color: midnightblue;
    border-radius: 3px;
}

/* 0 0 1 */
aside {
    width: 25%;
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 0 1em;
    margin: 1em;
}

/* 0 0 1 */
aside h2 {
    font-size: inherit;
    text-align: center;
    background-color: wheat;
    padding: 1em;
}

/* 0 0 1 */
aside h3 {
    font-size: inherit;
    font-weight: normal;
    text-align: center;
    background-color: wheat;
}

/* 0 0 1 */
aside img {
    width: 100%;
    margin: auto;
}

/* 0 0 1 */
video {
    width: 50%;
    margin: 2em auto;
}




